.garage-logo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100px;
    height: auto;
}

.section{
    table-layout: fixed;
    border-collapse: collapse;
    width: 93%;
    margin: 10px;
    margin-top: 70px;
} 

.section .button{
    background-color: #C8C8C8; 
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
    float: left;
    width: 100%;
    height: 30px;
}

#related-news{
    background-color: #828282	;
}

.search-box{
    background-color: #44D795;
    width: 310px;
    padding: 10px;
    height: 410px;
    margin: 10px;
    border-radius: 15px;
}

.search-box .search-txt{
    padding: 10px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 93%;
    background: white;
    border-radius: 10px;
}

.search-box .search-btn{
    position: absolute;
    left:270px;
    top: 136px;

}

.content {
    background-color:white;
    padding: 10px;
    float: left;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    height: 300px;
    overflow: auto;
  }


  .row {
    position: relative;
  }

  .column.left {
    float: left;
  }
  
  .column.right {
    float: right;
  }

  .column.small {
    width: calc(50% - 10px);
  }

  .tile {
    padding: 8px ;
  }

  .content img {
    width: 100%;
    display: block;
  }

  .content .lead-small {
    font-size: 11px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
  }
  